@using System.Collections
@model PayMethod

@{ 
    Layout = "_Admin";
}
<div class="admin-form">
    @using (Html.BeginForm("CreatePayMethod", "Admin", "post"))
    {
        <legend>Create new PaymentMethod</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Payment Method Name", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, "Payment Method", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Create PayMethod" class="btn btn-default" />
        </div>
    }
</div>